// bower:scss
// endbower

@import 'variables';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 12px;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h4, ul, li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2em;
}


.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: $color-sand;
  color: #3b3a36;
}

#hero__image {
  height: 100%;
  width: 100%;
  background-image: url("/images/cannon-beach.jpg");
  background-size: cover;
  backgournd-repeat: no-repeat;
  background-position: center;
}

.main {
  margin: 25px;
}

.resume {
  // TODO: remove
  height: 100vh;
  h2 {
    display: inline-block;
  }
}

.resume__inner {
  margin: 12px;
}

.resume__header {
  cursor: pointer;
  font-size: 2em;
  padding: 22px;
}

#resume--skills {
  .resume__header {
    background-color: $color-cornflower-blue;
  }
}

#resume--employment {
  .resume__header {
    background-color: $color-almond;
  }
}

#resume--projects {
  .resume__header {
    background-color: $color-nutmeg;
  }
}

#resume--education {
  .resume__header {
    background-color: $color-pale-leaf;
  }
}

.resume__details {
  opacity: 1;
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s;
}

.resume__detail {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.detail__list {
  margin-left: 40px;
}


.resume__list {
  font-size: 1.2em;
  margin: 0 auto;
  li {
    display: inline-block;
    margin: 8px;
  }
}

.greeting {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
}

.header__name {
  position: absolute;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  transition: opacity .8s ease-in;
}
